body{
    margin:0;
    padding:30px;
    background:#f1f8f6;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align:center;
    color:#00695c;
}

h2{
    color:#00796b;
    border-bottom:2px solid #4db6ac;
    padding-bottom:5px;
}

form{
    width:800px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 0px 15px rgba(0,0,0,.20);
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
    color:#004d40;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #80cbc4;
    border-radius:6px;
    box-sizing:border-box;
}

input:focus,
select:focus,
textarea:focus{
    outline:none;
    border-color:#00796b;
    box-shadow:0 0 5px rgba(0,121,107,0.3);
}

input[type=submit]{
    background:#00897b;
    color:white;
    font-size:18px;
    border:none;
    margin-top:25px;
    cursor:pointer;
    transition:0.3s;
}

input[type=submit]:hover{
    background:#00695c;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#00897b;
    color:white;
}

td, th{
    padding:8px;
    border:1px solid #80cbc4;
}

tr:nth-child(even){
    background:#f5fdfc;
}

footer{
    text-align:center;
    margin-top:25px;
    color:#555;
}